[user]
	name = Oscar Holm
	email = oscar@numbery.se
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/oscarholm/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/oscarholm/.stCommitMsg
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
